body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  background: url("/images/back.png") no-repeat center center fixed;
  background-size: cover;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
}