html, body {
  height: 100%; /* Ensure html and body cover the full height of the viewport */
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrolling */
}

body {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
}

.main-content {
  flex: 1; /* Allow the main content to take up remaining space */
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content img.center-logo {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Cover the full area of its container */
}
